<div class="wrapper">
<div class="container">
  <div class="welcome-box">
    <h4>Welcome to Barkbook</h4>
    <hr>
    <p>Is your dog lonely? Barkbook is an app that finds your pup the perfect playmate. It can also
      help you socialize at your local dog park!
    </p>
  </div>
      <div class="login-form">
        <h4 style="text-align:center; color:#4f84a8;">Login to your Account!</h4>
        <form class="login">
          <div class="form-group">
            <input type="email" class="form-control" id="email-input" placeholder="Email" style="padding-left: 50px">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password-input" placeholder="Password" style="padding-left: 50px">
          </div>
          <br>
          <button class="btn waves-effect waves-light" type="submit" id="login-btn" style="margin-left: 50px">Login<i class="material-icons right">send</i></button>
        </form>

        <br />
        <hr>
        <p class="orSignUp">Or sign up
          <a href="/newuser">here</a>
        </p>
      </div>

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>