<div class="container">
        <form id="login">
            <div class="row">
                <div class="input-field col s12">
                    {{!-- <i class="material-icons prefix">account_circle</i> --}}
                    <input id="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{!-- <i class="material-icons prefix">pets</i> --}}
                    <input id="password" type="text" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
                <button class="btn waves-effect waves-light" id="login_submit" type="submit" name="action">Login
                    <i class="material-icons right">send</i>
                </button>
        </form>
                <br />
        <p>Or sign up <a href="/newuser">here</a></p>

</div>

