<div class="container">
    <h2>Welcome</h2>

    <h1>Recommended Matches</h1>

				
				<div class="dog-entry">
					<h3><strong>Dog Database</strong></h3>
				</div>
				
					
				<!-- Content will go in here -->

						</div>
                        <br>
                        <hr>
                        <br>
						<h3>Click on a Park to See the Dogs</h3>
                        <div id="mapid" style="width: 700px; height: 400px"></div>
						<div id="well-section"></div>
				

<!-- Custom Script -->
<script src="js/members.js" type="text/javascript"></script>
