<div class="container">
    <form id="signup">
        <div class="row">
            <div class="input-field col s12">
                {{!--
                <i class="material-icons prefix">account_circle</i> --}}
                <input id="email-input" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{!--
                <i class="material-icons prefix">pets</i> --}}
                <input id="password-input" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" id="login_submit" type="submit" name="action">Sign Up
            <i class="material-icons right">send</i>
        </button>
    </form>
    <br />
    <p>Or login
        <a href="/">here</a>
    </p>

</div>

<script src="/js/newuser.js"></script>