<h5>Dog Profile</h5>

<div class="container">
    <h5>Dog Profile</h5>

    <section class="form">

        <form id="sign-up">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="owner_name" type="text" class="validate">
                    <label for="owner_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">pets</i>
                    <input placeholder="" id="dog_name" type="text" class="validate">
                    <label for="dog_name">Dog Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="Size of Dog" id="dog_size" type="text" class="validate">
                    <label for="dog_size"></label>
                </div>
                <p>
                    <label>
                        <input name="group1" type="radio" value="small" />
                        <span>Small</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" value="medium" />
                        <span>Medium</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" value="large" />
                        <span>Large</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="URL" id="dog_pic" type="text" class="validate">
                    <label for="dog_pic">Dog photo</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="" id="personality" type="text" class="validate">
                    <label for="personality">Personality</label>
                    <p>
                        <label>
                            <input name="group2" type="radio" value="confident" />
                            <span>Confident</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group2" type="radio" value="timid" />
                            <span>Timid</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group2" type="radio" value="independent" />
                            <span>Independent</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group2" type="radio" value="laid-back" />
                            <span>Laid-back</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group2" type="radio" value="adaptable" />
                            <span>Adaptable</span>
                        </label>
                    </p>
                </div>

                <div class="input-field col s6">
                    <input disabled value="" id="activity_level" type="text" class="validate">
                    <label for="activity_level">Activity Level</label>
                    <p>
                        <label>
                            <input name="group3" type="radio" value="sedentary" />
                            <span>Sedentary</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group3" type="radio" value="moderately-energetic" />
                            <span>Moderately-energetic</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group3" type="radio" value="hyperactive" />
                            <span>Hyperactive</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <label>Dog Parks in D.C.</label>
                    <select class="dog_park">
                        <option value="" disabled selected>Favorite Park</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="3">Option 4</option>
                        <option value="3">Option 5</option>
                        <option value="3">Option 6</option>
                        <option value="3">Option 7</option>
                        <option value="3">Option 8</option>
                        <option value="3">Option 9</option>
                        <option value="3">Option 10</option>
                        <option value="3">Option 11</option>
                        <option value="3">Option 12</option>
                        <option value="3">Option 13</option>
                        <option value="3">Option 14</option>
                        <option value="3">Option 15</option>
                        <option value="3">Option 16</option>
                        <option value="3">Option 17</option>
                        <option value="3">Option 18</option>
                        <option value="3">Option 19</option>
                        <option value="3">Option 20</option>
                        <option value="3">Option 21</option>
                        <option value="3">Option 22</option>
                        <option value="3">Option 23</option>
                        <option value="3">Option 24</option>
                        <option value="3">Option 25</option>
                        <option value="3">Option 26</option>
                        <option value="3">Option 27</option>
                        <option value="3">Option 28</option>
                        <option value="3">Option 29</option>
                        <option value="3">Option 30</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Time" id="park_time" type="time" class="validate">
                    <label for="park_time">Preferable Time At Park</label>
                </div>
                <button class="btn waves-effect waves-light" id="form_submit" type="submit" name="action">Create a Profile
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </section>
</div>