<br>
<div class="container">
    
    <section class="form">

        <form id="sign-up">
            <h5 style="color:#4f84a8; font-weight: bold;">Tell Us About You and Your Dog</h5>
            <hr>
            <br>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="owner_name" type="text" class="validate">
                    <label for="owner_name">Owner Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">pets</i>
                    <input id="dog_name" type="text" class="validate">
                    <label for="dog_name">Dog Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="Size of Dog" id="dog_size" type="text" class="validate">
                    <label for="dog_size"></label>
                </div>
                <div class="dog-size row">
                <p class="col s4">
                    <label>
                        <input name="group1" type="radio" value="small" style="float:left"/>
                        <span>Small</span>
                    </label>
                </p>
                <p class="col s4">
                    <label>
                        <input name="group1" type="radio" value="medium" style="float:left"/>
                        <span>Medium</span>
                    </label>
                </p>
                <p class="col s4">
                    <label>
                        <input name="group1" type="radio" value="large" style="float:left"/>
                        <span>Large</span>
                    </label>
                </p>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Sumbit a url" id="dog_pic" type="text" class="validate">
                    <label for="dog_pic">Upload a photo of your pooch!</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="Personality" id="personality" type="text" class="validate">
                    <label for="personality"></label>
                    <div class="row">
                    <p class="col s2">
                        <label>
                            <input name="group2" type="radio" value="confident" />
                            <span>Confident</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group2" type="radio" value="timid" />
                            <span>Timid</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group2" type="radio" value="independent" />
                            <span>Independent</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group2" type="radio" value="laid-back" />
                            <span>Laid-back</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group2" type="radio" value="adaptable" />
                            <span>Adaptable</span>
                        </label>
                    </p>
                    </div>
                </div>

                <div class="input-field col s12">
                    <input disabled value="Activity Level" id="activity_level" type="text" class="validate">
                    <label for="activity_level"></label>
                    <div class="row">
                    <p class="col s4">
                        <label>
                            <input name="group3" type="radio" value="sedentary" />
                            <span>Sedentary</span>
                        </label>
                    </p>
                    <p class="col s4">
                        <label>
                            <input name="group3" type="radio" value="moderately-energetic" />
                            <span>Moderately-energetic</span>
                        </label>
                    </p>
                    <p class="col s4">
                        <label>
                            <input name="group3" type="radio" value="hyperactive" />
                            <span>Hyperactive</span>
                        </label>
                    </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s12">
                    <input disabled value="Choose your favorite park" id="dog_park" type="text" class="validate">
                    <label for="dog_park"></label>
                    <div class="row">
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Upshur Dog Park" />
                            <span>Upshur Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Colombia Heights Dog Park" />
                            <span>Colombia Heights Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Walter Pierce Park" />
                            <span>Walter Pierce Park</span>
                        </label>
                    </p>
                    </div>
                    <div class="row">
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Gage Eckington Dog Park" />
                            <span>Gage Eckington Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="S Street Dog Park" />
                            <span>S Street Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Shaw Dog Park" />
                            <span>Shaw Dog Park</span>
                        </label>
                    </p>
                    </div>
                    <div class="row">
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Mitchell Park" />
                            <span>Mitchell Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Francis Dog Park" />
                            <span>Francis Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Rosedale Conservancy" />
                            <span>Rosedale Conservancy</span>
                        </label>
                    </p>
                    </div>
                    <div class="row">
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Newark Street Dog Park" />
                            <span>Newark Street Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Langdon Dog Park" />
                            <span>Langdon Dog Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Kingsman Dog Park" />
                            <span>Kingsman Dog Park</span>
                        </label>
                    </p>
                    </div>
                    <div class="row">
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Virginia Avenue Park" />
                            <span>Virginia Avenue Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Garfield Park" />
                            <span>Garfield Park</span>
                        </label>
                    </p>
                    <p class="col s2">
                        <label>
                            <input name="group4" type="radio" value="Canal Park" />
                            <span>Canal Park</span>
                        </label>
                    </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">

                    <input placeholder="Time" id="park_time" type="text" class="validate">
                    <label for="park_time">Preferred Play Time</label>
                </div>
            </div>

            <div>
                <button class="btn waves-effect waves-light" id="form_submit" type="submit" name="action">Create Your Profile
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </section>
</div>

<!-- Custom Script -->
	<script src="js/signup.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
