/* SIGN UP CSS */
#sign-up {
    /* width:600px; */
    height: auto;
    border:  darkgray solid 2px;
    padding: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    /* background-color: rgb(247, 200, 159); */
    opacity: .8;
    text-align: center;
    align-content: center;
 }
 
#form_submit{
    background-color: rgb(250, 123, 64);  
    cursor: pointer; 
 }

#dog_size {
    text-align: center;
    color: #4f84a8;
 }
#personality {
    text-align: center;
    color: #4f84a8;
 }
#activity_level {
    text-align: center;
    color: #4f84a8;   
 }
#dog_park {
    text-align: center;
    color: #4f84a8;      
 }
#dog_pic {
    /* text-align: center; */
    color: #4f84a8;   
}
.input-field input:focus + label {
    color:rgb(250, 123, 64) !important;
 }
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid rgb(250, 123, 64) !important;
    box-shadow: 0 1px 0 0 rgb(250, 123, 64) !important
 }
 
 
input[type=text]:not(.browser-default):disabled+label {
    color: #4f84a8;
    font-size: 18px;
    font-weight: bold;
 }
  
  
input[type=text]:not(.browser-default).validate+label {
    color: #4f84a8;
    font-size: 18px;
    font-weight: bold;
 }
/* end of abi css */

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: rgb(250, 123, 64);
    border: 2px solid rgb(250, 123, 64);
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgrey;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
/* input:not([type]):focus, input[type=text]:not(.browser-default):focus, input[type=password]:not(.browser-default):focus, input[type=email]:not(.browser-default):focus,  textarea.materialize-textarea:focus {
    color: rgb(250, 123, 64);
} */
input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgb(250, 123, 64);
    box-shadow: 0 1px 0 0 rgb(250, 123, 64);
}

.form-control input:focus + label {
    color:rgb(250, 123, 64) !important;
 }



/* start of CSS for login page */
.login-form {
    margin: 70px auto;
    padding: 10px 50px;
    padding-bottom: 30px;
    border: darkgray solid 2px;
    width: 700px;

}
#login-btn {
    background-color: rgb(250, 123, 64);
    align-content: center;
}

.orSignUp {
    color: #4f84a8;
    text-align: center;
}
/* Start of CSS for newuser page */
.newuser-form {
    margin: 70px auto;
    padding: 10px 50px;
    padding-bottom: 30px;
    border: darkgray solid 2px;
    width: 700px;
}
#new-user {
    background-color: rgb(250, 123, 64);
}

/* CSS MEMBERS PAGE */
#mapid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    /* align-content: center; */
}