
/* Sign up (profile) page */

.wrapper {
    background-image: url("/images/body2.jpeg");
    padding: 50px;
}
body {
    background-color: #b2dbdf;
}

/* SIGN UP CSS */
#sign-up {
    /* width:600px; */
    height: auto;
    border:  darkgray solid 2px;
    padding: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    /* opacity: .8; */
    text-align: center;
    align-content: center;
 }
 
#form_submit{
    background-color: rgb(250, 123, 64);  
    cursor: pointer; 
 }

#dog_size {
    text-align: center;
    color: #4f84a8;
 }
#personality {
    text-align: center;
    color: #4f84a8;
 }
#activity_level {
    text-align: center;
    color: #4f84a8;   
 }
#dog_park {
    text-align: center;
    color: #4f84a8;      
 }
#dog_pic {
    /* text-align: center; */
    color: #4f84a8;   
}
.input-field .prefix.active {
    color: rgb(250, 123, 64);
}
.input-field input:focus + label {
    color:rgb(250, 123, 64) !important;
 }
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid rgb(250, 123, 64) !important;
    box-shadow: 0 1px 0 0 rgb(250, 123, 64) !important
 }
 
 
input[type=text]:not(.browser-default):disabled+label {
    color: #4f84a8;
    font-size: 18px;
    font-weight: bold;
 }
  
  
input[type=text]:not(.browser-default).validate+label {
    color: #4f84a8;
    font-size: 18px;
    font-weight: bold;
 }
/* end of abi css */

body {
    /* background-image: url('./images/dog.jpg'); */
    width: 100%;
    height: auto;
    cursor: url(/images/dog-bone.png), auto;
}

a:hover {
    cursor: url(/images/dog-bone.png), auto;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: rgb(250, 123, 64);
    border: 2px solid rgb(250, 123, 64);
}

input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgb(250, 123, 64);
    box-shadow: 0 1px 0 0 rgb(250, 123, 64);
}

.form-control input:focus + label {
    color:rgb(250, 123, 64) !important;
 }



/* start of CSS for login page */
.welcome-box {
    margin: 70px auto;
    padding: 10px 50px;
    border: darkgray solid 2px;
    width: 700px;
    color: #4f84a8;
    text-align: center;
    background-color: white;

}
.login-form {
    margin: 30px auto;
    padding: 10px 50px;
    padding-bottom: 30px;
    border: darkgray solid 2px;
    width: 700px;
    background-color: white;
    /* opacity: .8; */

}
#login-btn {
    background-color: rgb(250, 123, 64);
    align-content: center;
}


.orSignUp {
    color: #4f84a8;
    text-align: center;
}



/* Start of CSS for newuser page */
.newuser-form {
    margin: 70px auto;
    padding: 10px 50px;
    padding-bottom: 30px;
    border: darkgray solid 2px;
    width: 700px;
    background-color: white;
}
#new-user {
    background-color: rgb(250, 123, 64);
}
.orLogin {
    color: #4f84a8;
    text-align: center; 
}
/* CSS MEMBERS PAGE */
#mapid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    /* align-content: center; */
}

/* Members Page  */
#search-by-size {
    border: solid 3px #4f84a8;
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
}

#search-by-activity {
    border: solid 3px rgb(250, 123, 64);
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
}

#search-by-personality {
    border: solid 3px #4f84a8;
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
}

#search-all {
    border: solid 3px rgb(250, 123, 64);
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
}
.members-title {
    background-color: white;
    padding: 20px;
    margin-top: 70px;
    border: solid 3px rgb(250, 123, 64);
}
.mp-title {
    font-family: 'Paytone One';
    color: rgb(250, 123, 64);
}

.mp-tagline {
    font-family: 'Short Stack';
    color: #4f84a8;  
}

img #reilly {
    height: 375px;
    border: solid 2px rgb(250, 123, 64);
}

.dog-image {
    height: 400px;;
}

#confident-dogs, #timid-dogs, #independent-dogs, #adaptable-dogs, #laid-back-dogs, #small-dogs, 
#medium-dogs, #large-dogs {
    background-color: rgb(250, 123, 64);
    margin: 5px 15px 10px 0px;
    font-family: 'Short Stack';
}    

#sedentary-dogs, #moderately-energetic-dogs, #hyperactive-dogs, #show-all-dogs {
    background-color: #4f84a8;
    margin: 5px 15px 5px 0px;
    font-family: 'Short Stack';
}

.well {
    border: solid 3px #4f84a8;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Short Stack';
    max-width: 700px;
    padding-bottom: 5px;
}

.option {
    font-family: 'Paytone One';
    color:#524b4b;
}

