
/* Sign up (profile) page */
.form {
    width: 500px;
    height: auto;
    border:  teal solid 2px;
    padding: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: rgb(248, 234, 217);
    opacity: .8;
}
/* Changed the name from container to form -- containers are built into materialize for structure */
h5 {
    text-align: center;
    color:  teal;
    font-weight: bolder;
}

body {
    /* background-image: url('./images/dog.jpg'); */
    width: 100%;
    height: auto;
    cursor: url(/images/dog-bone.png), auto;
}

a:hover {
    cursor: url(/images/dog-bone.png), auto;
}
/* 
.form {
    text-align: center;
} */


/* Members Page  */

#mapid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    /* align-content: center; */
}

#search-by-size {
    border: solid 3px #4f84a8;
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#search-by-activity {
    border: solid 3px rgb(250, 123, 64);
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: ,
}

#search-by-personality {
    border: solid 3px #4f84a8;
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#search-all {
    border: solid 3px rgb(250, 123, 64);
    margin: 10px 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.mp-title {
    font-family: 'Paytone One';
    color: rgb(250, 123, 64);
}

.mp-tagline {
    font-family: 'Short Stack';
    color: #4f84a8;  
}

img #reilly {
    height: 375px;
    border: solid 2px rgb(250, 123, 64);
}

.dog-image {
    height: 400px;;
}

#confident-dogs, #timid-dogs, #independent-dogs, #adaptable-dogs, #laid-back-dogs, #small-dogs, 
#medium-dogs, #large-dogs {
    background-color: rgb(250, 123, 64);
    margin: 5px 15px 10px 0px;
    font-family: 'Short Stack';
}    

#sedentary-dogs, #moderately-energetic-dogs, #hyperactive-dogs, #show-all-dogs {
    background-color: #4f84a8;
    margin: 5px 15px 5px 0px;
    font-family: 'Short Stack';
}

.well {
    border: solid 3px #4f84a8;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Short Stack';
    max-width: 700px;
    padding-bottom: 5px;
}

.option {
    font-family: 'Paytone One';
    color:#524b4b;
}